{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<br><br><center><h1 style="font-size:2em;color:#2467C0">EU-Impfentwicklung</h1></center>
<br>
<table>
<col width="550">
<col width="450">
<tr>
<td><img src="https://www.iamexpat.de/sites/default/files/styles/article--full/public/coronavirus-vaccine_1_0.jpg?itok=WMACIAJs" align="middle" style="width:550px;height:360px;"/></td>
<td>
Die Datensatz ist von <a href="https://www.kaggle.com">Kaggle</a>.   <a href=" https://www.kaggle.com/gpreda/covid-world-vaccination-progress">Country_vaccinations</a> beschreibt die weltweite Impfentwicklung.
<td/>
<br>
</tr>
</table>

{% endblock %}